<div class= "keepcentered">
<h1 class= "page-header text-center"> Finn's Valentines
</h1>
<br>
<div class= "button">
<%= link_to "New Valentine", new_valentine_path, class: "btn btn-danger" %>
</div>
</div>

<% @valentines.each do |valentine| %>
<h4 class= "header"> <%= valentine.title %></h4>
<p>test</p>
<%end %>
